$colour-primary: #ff0000;
// $colour-redLight: #FF0000;
$colour-secondary: #282d30;
$colour-tertiary: #9b9eac;

$colour-calories: #ff0000;
$colour-proteins: #4ab8ff;
$colour-carbs: #fdcc0c;
$colour-fat: #fd5181;

$border-rad: 6px;
